[swagger-ui-material] .sum-http-method.md-button {
    height: 24px;
    line-height: 24px;
    min-height: 24px;
    min-width: 64px;
    padding: 1px;
    margin: 2px 6px 2px 2px;
}

[swagger-ui-material] .sum-http-method.md-button.md-raised:not([disabled]) {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

[swagger-ui-material] md-sidenav .md-subheader + .layout-padding,
[swagger-ui-material] md-sidenav .md-subheader + .layout-padding > *:first-child {
    padding-top: 0;
}

[swagger-ui-material] .sum-tools .md-button {
    margin-bottom: 0;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
}

[swagger-ui-material] .sum-tools .md-button:last-child {
    margin-right: 16px;
}

/*[swagger-ui-material] pre {*/
    /*margin: 0;*/
/*}*/

[swagger-ui-material] md-input-container {
    margin-top: 0;
    margin-bottom: 0;
}

[swagger-ui-material] md-list-item .md-button {
    margin: 0 0 0 -4px;
    padding: 0 4px 0 4px;
    text-transform: none;
    min-height: 0;
    line-height: 1;
    min-width: inherit;
}

[swagger-ui-material] md-list-item .md-button:hover,
[swagger-ui-material] md-list-item .md-button:focus {
    background-color: transparent;
    text-decoration: underline;
}

[swagger-ui-material] .md-body-1,
[swagger-ui-material] .md-body-2 {
    line-height: 16px;
}

[swagger-ui-material] [ng-click] {
    cursor: pointer;
}

[swagger-ui-material], body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

[swagger-ui-material] md-list {
    padding: 0;
}

[swagger-ui-material] md-list-item {
    min-height: 64px;
}

[swagger-ui-material] .sum-path {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 28px;
}

[swagger-ui-material] .sum-path-wrap {
    line-height: 20px;
    padding-top: 4px;
}

[swagger-ui-material] .sum-top {
    padding-top: 0;
}

[swagger-ui-material] .sum-top > * {
    padding-top: 0;
}

/*[swagger-ui-material] pre,*/
[swagger-ui-material] textarea {
    font-family: monospace;
}

[swagger-ui-material] .pad {
    margin-left: 16px;
    text-indent: -8px;
    padding-left: 8px;
}

[swagger-ui-material] .pad em {
    opacity: 0.5;
}

[swagger-ui-material] .sum-wrap {
    white-space: normal;
}

[swagger-ui-material] .sum-deprecated {
    opacity: 0.5;
}

[swagger-ui-material] .sum-deprecated .sum-path {
    text-decoration: line-through;
}

[swagger-ui-material] .sum-selected {
    /* TODO: themed color */
    background-color: rgb(238, 238, 238);
}

[swagger-ui-material] .sum-delay.ng-enter {
    transition: 0.016s linear all 0.25s;
    opacity: 0;
    width: 0;
}

[swagger-ui-material]  .sum-delay.ng-enter-stagger {
    transition-delay: 0.25s;
    transition-duration: 0s;
}

[swagger-ui-material] .sum-delay.ng-enter.ng-enter-active {
    opacity: 1;
}

[swagger-ui-material] md-sidenav p {
    margin-top: 0;
    margin-bottom: 0;
}

[swagger-ui-material] .md-errors-spacer {
    display: none;
}

[swagger-ui-material] .sum-param-info {
    font-size: 12px;
    line-height: 14px;
}
