<md-dialog class="sum-dialog" layout="column">
    <md-toolbar ng-class="style">
        <div class="md-toolbar-tools">
            <h2><strong class="sum-uppercase" ng-bind="title"></strong></h2>
            <span flex></span>
            <small>HTTP Method</small>
        </div>
    </md-toolbar>
    <div layout="row" layout-padding layout-align="space-between start">
        <div class="md-body-2" style="line-height: 24px">Safe
            <md-icon ng-bind="info[3] ? 'check_box' : 'check_box_outline_blank'"></md-icon>
        </div>
        <div class="md-body-2" style="line-height: 24px">Idempotent
            <md-icon ng-bind="info[4] ? 'check_box' : 'check_box_outline_blank'"></md-icon>
        </div>
        <div class="md-body-2" style="line-height: 24px">Cacheable
            <md-icon ng-bind="info[5] ? 'check_box' : 'check_box_outline_blank'"></md-icon>
        </div>
    </div>
    <md-divider></md-divider>
    <md-dialog-content class="md-dialog-content sum-sentence" ng-bind="info[0]"></md-dialog-content>
    <md-dialog-actions>
        <md-button ng-href="{{info[2]}}" target="_blank" class="md-primary">{{section}}</md-button>
        <md-button ng-click="closeDialog()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
