<md-dialog class="sum-dialog">
    <md-toolbar ng-class="style">
        <div class="md-toolbar-tools">
            <h2><strong ng-bind="title"></strong></h2>
            <span flex></span>
            <small>HTTP Status</small>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <h3 class="md-title" ng-bind="info[0]"></h3>
        <p class="sum-sentence" ng-bind="info[1]"></p>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-href="{{info[3]}}" target="_blank" class="md-primary">{{section}}</md-button>
        <md-button ng-click="closeDialog()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
