<div>
    <div layout="row">
        <div style="min-width: 56px"><code ng-bind="code"></code></div>
        <div flex style="padding-left: 8px"><span ng-bind-html="resp.description"></span></div>
    </div>

    <div ng-if="resp.schema&&resp.schema.model&&resp.schema.json">
        <a ng-click="resp.display=0" ng-class="{active: resp.display == 0}">Model</a>
        <a ng-click="resp.display=1" ng-class="{active: resp.display == 1}">Model schema</a>
    </div>

    <pre ng-if="resp.display == 0 && resp.schema&&resp.schema.model" ng-bind-html="resp.schema.model"></pre>
    <pre ng-if="resp.display == 1 && resp.schema&&resp.schema.json" ng-bind="resp.schema.json"></pre>
</div>
