<md-dialog class="sum-dialog" layout="column">
    <md-toolbar ng-class="style">
        <div class="md-toolbar-tools">
            <h2><span class="md-title" ng-bind="title"></span></h2>
            <span flex></span>
            <small style="padding-left: 16px; text-align: right" ng-bind="subtitle"></small>
        </div>
    </md-toolbar>
    <div ng-if="meta" layout="row" layout-padding layout-align="space-between start">
        <div class="md-body-2" style="line-height: 24px">Safe
            <md-icon ng-bind="meta[0] ? 'check_box' : 'check_box_outline_blank'"></md-icon>
        </div>
        <div class="md-body-2" style="line-height: 24px">Idempotent
            <md-icon ng-bind="meta[1] ? 'check_box' : 'check_box_outline_blank'"></md-icon>
        </div>
        <div class="md-body-2" style="line-height: 24px">Cacheable
            <md-icon ng-bind="meta[2] ? 'check_box' : 'check_box_outline_blank'"></md-icon>
        </div>
    </div>
    <md-divider ng-if="meta"></md-divider>
    <md-dialog-content ng-if="header || description" class="md-dialog-content">
        <h3 ng-if="header" class="md-title" ng-bind="header"></h3>
        <p ng-if="description" class="sum-sentence" ng-bind="description"></p>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-if="link" ng-href="{{link}}" target="_blank" class="md-primary" ng-bind="section"
                   aria-label="spec"></md-button>
        <md-button ng-click="closeDialog()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
