<div class="md-body-1" style="text-indent: -9px; margin-left: 9px">
    <md-button ng-click="sum.infoHeader(header.name, $event)"
               class="sum-http-header md-raised"
               ng-disabled="!sum.gettheme(header.name)"
               ng-class="sum.gettheme(header.name)"
               style="font-weight: bold; top: 0"
               aria-label="header"
               ng-bind="header.name"></md-button>
    <br>
    <span style="word-wrap: break-word; line-height: 24px;" ng-bind-html="header.value"></span>
</div>
<md-divider ng-if="!$last" style="margin: 4px 0 8px 0"></md-divider>
