<div flex layout="column">
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools" ng-show="loading" style="padding-left: 0">
            <md-progress-circular ng-if="loading" class="md-accent md-hue-1" md-mode="indeterminate"
                                  md-diameter="56"></md-progress-circular>
            <span>Loading&hellip;</span>
        </div>
        <div class="md-toolbar-tools" ng-hide="loading">
            <toolbar-edit class="sum-delay md-toolbar-tools"
                          ng-model="sum.editUrl"
                          open="sum.editOpen"
                          display-title="infos.title"
                          ng-if="!sum.searchOpened"
                          flex
                          style="padding-left: 0; padding-right: 0"></toolbar-edit>
            <span flex ng-if="sum.searchOpened"></span>
            <toolbar-search ng-model="sum.searchFilter" open="sum.searchOpened"></toolbar-search>
            <md-button hide show-gt-sm aria-label="expand" ng-if="sum.grouped" ng-click="sum.open(true)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
            <md-button hide show-gt-sm aria-label="collapse" ng-if="sum.grouped" ng-click="sum.open(false)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
            <md-button hide show-gt-sm aria-label="view" ng-click="sum.grouped = !sum.grouped" class="md-icon-button">
                <md-icon ng-bind="sum.grouped ? 'view_comfy' : 'view_column'"></md-icon>
            </md-button>
            <md-button hide show-gt-sm aria-label="description" ng-click="sum.descriptions = !sum.descriptions"
                       class="md-icon-button">
                <md-icon ng-bind="sum.descriptions ? 'speaker_notes_off' : 'speaker_notes'"></md-icon>
            </md-button>
            <md-menu>
                <md-button hide-gt-sm aria-label="menu" ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-if="sum.grouped">
                        <md-button ng-click="sum.open(true)">
                            <md-icon>keyboard_arrow_down</md-icon>
                            Expand
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="sum.grouped">
                        <md-button ng-click="sum.open(false)">
                            <md-icon>keyboard_arrow_up</md-icon>
                            Collapse
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sum.grouped = !sum.grouped">
                            <md-icon ng-bind="sum.grouped ? 'view_comfy' : 'view_column'"></md-icon>
                            Switch view
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sum.descriptions = !sum.descriptions">
                            <md-icon ng-bind="sum.descriptions ? 'speaker_notes_off' : 'speaker_notes'"></md-icon>
                            Descriptions
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content>
        <div layout-padding layout="column" style="padding-bottom: 0">
            <div ng-if="infos.description" ng-bind-html="::infos.description" class="markdown-body"></div>
            <div style="padding: 4px 4px 0 4px" ng-include="'views/info.html'"></div>
            <div ng-if="!loading && (resources.length == 0)">No API found.</div>
        </div>
        <div ng-if="sum.grouped" layout="row" layout-wrap layout-padding>
            <div flex-xs="100"
                 flex-sm="{{sum.sidenavLockedOpen ? 100 : 50}}"
                 flex-md="{{sum.sidenavLockedOpen ? 50 : 33}}"
                 flex-lg="{{sum.sidenavLockedOpen ? 33 : 25}}"
                 flex-xl="{{sum.sidenavLockedOpen ? 25 : 20}}"
                 ng-repeat="api in resources track by $index"
                 style="padding: 12px"
                 ng-if="(api.operations | filter:sum.searchObject:false).length"
                 ng-include="'views/endpoint.html'"></div>
        </div>
        <!-- TODO: multi-column layout with top>boottom sort would be better? -->
        <div ng-if="!sum.grouped" layout="row" layout-wrap layout-padding style="margin-top: 12px;">
            <div flex-xs="100"
                 flex-sm="{{sum.sidenavLockedOpen ? 100 : 50}}"
                 flex-md="{{sum.sidenavLockedOpen ? 50 : 33}}"
                 flex-lg="{{sum.sidenavLockedOpen ? 33 : 25}}"
                 flex-xl="{{sum.sidenavLockedOpen ? 25 : 20}}"
                 ng-repeat="op in infos.operations | filter:sum.searchObject:false track by op.id"
                 style="padding-top: 0; padding-bottom: 0">
                <div ng-class="{'sum-selected': sum.sop === op}"
                     ng-include="'views/operation.html'"></div>
            </div>
        </div>
    </md-content>
</div>
<md-sidenav
    layout="column"
    class="md-sidenav-right md-whiteframe-z2"
    md-is-open="sum.sidenavOpen"
    md-is-locked-open="sum.sidenavLockedOpen">
    <md-toolbar ng-if="sum.sop" class="md-accent" md-whiteframe="2">
        <div class="md-toolbar-tools">
            <span flex><span ng-repeat="t in sum.sop.tags">{{t}}<span ng-if="!$last">, </span></span></span>
            <md-button hide show-gt-xs ng-click="sum.toggleSidenav()"
                       aria-label="toggle"
                       class="md-icon-button md-accent md-hue-3">
                <md-icon ng-bind="sum.sidenavLockedOpen ? 'chevron_right' : 'chevron_left'"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div ng-if="sum.sop">
        <md-subheader class="md-warn" ng-if="sum.sop.deprecated">Deprecated</md-subheader>
        <div layout-padding>
            <div ng-class="{'sum-deprecated': sum.sop.deprecated}" layout="row" style="word-break: break-all">
                <md-button ng-class="swaggerMethods[sum.sop.httpMethod]"
                           ng-click="sum.infoMethod(sum.sop, $event)"
                           aria-label="method"
                           class="sum-http-method md-raised"
                           ng-bind="sum.sop.httpMethod">
                </md-button>
                <span ng-bind="sum.sop.path" class="sum-path-wrap"></span>
            </div>
            <div ng-if="sum.sop.summary" class="md-body-2" ng-bind="sum.sop.summary"></div>
        </div>
    </div>
    <!--<md-divider ng-if="sum.sop"></md-divider>-->
    <md-tabs layout="column" class="md-hue-2"
             flex
             md-selected="sum.sop.tab"
             ng-class="{'sum-slide-disabled': !sum.sop.explorerResult}">
        <!-- TODO: better tab names? -->
        <md-tab label="Request">
            <div ng-include="'views/request.html'"></div>
        </md-tab>
        <md-tab class="sum-tab-result" label="Result" ng-disabled="!sum.sop.explorerResult">
            <div ng-show="sum.sop.explorerResult" style="height: 100%" flex ng-include="'views/result.html'"
                 layout="column"></div>
        </md-tab>
    </md-tabs>
    <div ng-if="!sum.sop" layout-padding>
        <div>No endpoint method selected.</div>
    </div>
    <md-button class="md-fab md-fab-bottom-right md-primary md-raised"
               ng-disabled="sum.sop.loading || !sum.explorerForm.$valid"
               ng-style="{padding: sum.sop.loading ? '1px 0 0 0' : null}"
               ng-if="sum.sop && apiExplorer"
               ng-click="sum.submit(sum.sop)"
               aria-label="submit">
        <md-icon ng-if="!sum.sop.loading" ng-bind="sum.sop.explorerResult ? 'replay' : 'play_arrow'"></md-icon>
        <md-progress-circular ng-if="sum.sop.loading"
                              md-diameter="56"
                              class="md-accent md-hue-1"
                              md-mode="indeterminate"></md-progress-circular>
    </md-button>
</md-sidenav>
