<div flex layout="column">
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools" ng-show="loading" style="padding-left: 0">
            <md-progress-circular ng-if="loading" class="md-accent md-hue-1" md-mode="indeterminate"
                                  md-diameter="56"></md-progress-circular>
            <span>Loading&hellip;</span>
        </div>
        <div class="md-toolbar-tools" ng-hide="loading">
            <toolbar-edit class="sum-delay md-toolbar-tools"
                          ng-model="editUrl.model"
                          ng-changed="editUrl.changed"
                          display-title="info.title"
                          ng-if="!searchOpened"
                          flex
                          style="padding-left: 0; padding-right: 0"></toolbar-edit>
            <span flex ng-if="searchOpened"></span>
            <toolbar-search ng-model="searchFilter" open="searchOpened"></toolbar-search>
            <!--suppress HtmlUnknownAttribute -->
            <md-button hide show-gt-sm aria-label="expand" ng-if="grouped" ng-click="open(true)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
            <!--suppress HtmlUnknownAttribute -->
            <md-button hide show-gt-sm aria-label="collapse" ng-if="grouped" ng-click="open(false)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
            <!--suppress HtmlUnknownAttribute -->
            <md-button hide show-gt-sm aria-label="view" ng-click="grouped = !grouped" class="md-icon-button">
                <md-icon ng-bind="grouped ? 'view_comfy' : 'view_column'"></md-icon>
            </md-button>
            <!--suppress HtmlUnknownAttribute -->
            <md-button hide show-gt-sm aria-label="description" ng-click="descriptions = !descriptions"
                       class="md-icon-button">
                <md-icon ng-bind="descriptions ? 'speaker_notes_off' : 'speaker_notes'"></md-icon>
            </md-button>
            <md-menu>
                <md-button hide-gt-sm aria-label="menu" ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <!--suppress HtmlUnknownTag -->
                <md-menu-content>
                    <md-menu-item ng-if="grouped">
                        <md-button ng-click="open(true)">
                            <md-icon>keyboard_arrow_down</md-icon>
                            Expand
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="grouped">
                        <md-button ng-click="open(false)">
                            <md-icon>keyboard_arrow_up</md-icon>
                            Collapse
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="grouped = !grouped">
                            <md-icon ng-bind="grouped ? 'view_comfy' : 'view_column'"></md-icon>
                            Switch view
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="descriptions = !descriptions">
                            <md-icon ng-bind="descriptions ? 'speaker_notes_off' : 'speaker_notes'"></md-icon>
                            Descriptions
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content>
        <div layout-padding layout="column" style="padding-bottom: 0">
            <div ng-if="info.description" ng-bind-html="::info.description" class="markdown-body"></div>
            <div style="padding: 4px 4px 0 4px" ng-include="'views/info.html'"></div>
            <div ng-if="!loading && (resources.length == 0)">No API found.</div>
        </div>
        <div ng-if="grouped" layout="row" layout-wrap layout-padding>
            <div flex-xs="100"
                 flex-sm="{{sidenavLockedOpen ? 100 : 50}}"
                 flex-md="{{sidenavLockedOpen ? 50 : 33}}"
                 flex-lg="{{sidenavLockedOpen ? 33 : 25}}"
                 flex-xl="{{sidenavLockedOpen ? 25 : 20}}"
                 ng-repeat="api in resources track by $index"
                 style="padding: 12px"
                 ng-if="(api.operations | filter:searchObject:false).length"
                 ng-include="'views/endpoint.html'"></div>
        </div>
        <!-- TODO: multi-column layout with top>bottom sort would be better? -->
        <div ng-if="!grouped" layout="row" layout-wrap layout-padding style="margin-top: 12px;">
            <div flex-xs="100"
                 flex-sm="{{sidenavLockedOpen ? 100 : 50}}"
                 flex-md="{{sidenavLockedOpen ? 50 : 33}}"
                 flex-lg="{{sidenavLockedOpen ? 33 : 25}}"
                 flex-xl="{{sidenavLockedOpen ? 25 : 20}}"
                 ng-repeat="op in info.operations | filter:searchObject:false track by op.id"
                 style="padding-top: 0; padding-bottom: 0">
                <div ng-class="{'sum-selected': sop === op}"
                     ng-include="'views/operation.html'"></div>
            </div>
        </div>
    </md-content>
</div>
<md-sidenav
    layout="column"
    class="md-sidenav-right md-whiteframe-z2"
    md-is-open="sidenavOpen"
    md-is-locked-open="sidenavLockedOpen">
    <md-toolbar ng-if="sop" class="md-accent" md-whiteframe="2">
        <div class="md-toolbar-tools">
            <span flex><span ng-repeat="t in sop.tags">{{t}}<span ng-if="!$last">, </span></span></span>
            <!--suppress HtmlUnknownAttribute -->
            <md-button hide show-gt-xs ng-click="toggleSidenav()"
                       aria-label="toggle"
                       class="md-icon-button md-accent md-hue-3">
                <md-icon ng-bind="sidenavLockedOpen ? 'chevron_right' : 'chevron_left'"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div ng-if="sop">
        <md-subheader class="md-warn md-no-sticky" ng-if="sop.deprecated">Deprecated</md-subheader>
        <div layout-padding>
            <div ng-class="{'sum-deprecated': sop.deprecated}" layout="row" style="word-break: break-all">
                <md-button ng-class="theme[sop.httpMethod]"
                           ng-click="utils.method(sop.httpMethod, $event)"
                           aria-label="method"
                           class="sum-http-method md-raised"
                           ng-bind="sop.httpMethod">
                </md-button>
                <span ng-bind="sop.path" class="sum-path-wrap"></span>
            </div>
            <div ng-if="sop.summary" class="md-body-2" ng-bind="sop.summary"></div>
        </div>
    </div>
    <md-tabs class="md-hue-2"
             flex
             md-stretch-tabs="always"
             md-selected="sop.tab"
             ng-class="{'sum-slide-disabled': omg}">
        <!-- TODO: better tab names? -->
        <md-tab label="Info" layout="column">
            <div class="sum-fade" ng-hide="omg" ng-include="'views/request.html'"></div>
        </md-tab>
        <md-tab label="Scripts" layout="column">
            <div class="sum-fade" ng-hide="omg" ng-include="'views/scripts.html'"></div>
        </md-tab>
        <md-tab class="sum-tab-result" label="Result" ng-disabled="!sop.explorerResult">
            <div class="sum-fade" ng-hide="omg" ng-show="sop.explorerResult" ng-include="'views/result.html'"></div>
        </md-tab>
    </md-tabs>
    <div ng-if="!sop" layout-padding>
        <div>No endpoint method selected.</div>
    </div>
    <md-button class="md-fab md-fab-bottom-right md-primary md-raised"
               ng-disabled="sop.loading || !ngForm.explorerForm.$valid"
               ng-style="{padding: sop.loading ? '1px 0 0 0' : null}"
               ng-if="sop && apiExplorer"
               ng-click="submit(sop)"
               ng-class="(sop.explorerResult.response.status === -1) ? 'md-warn' : 'md-primary'"
               aria-label="submit">
        <md-icon ng-if="!sop.loading" ng-bind="sop.explorerResult ? 'replay' : 'play_arrow'"></md-icon>
        <md-progress-circular ng-if="sop.loading"
                              md-diameter="56"
                              class="md-accent md-hue-1"
                              md-mode="indeterminate"></md-progress-circular>
    </md-button>
</md-sidenav>
