<md-dialog class="sum-dialog" layout="column">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2><span class="md-title">Proxy</span></h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <p><md-icon style="line-height: 20px">warning</md-icon> Use only proxies <b>you trust</b>!</p>
        <form ng-submit="closeDialog()">
            <div layout="column">
                <md-input-container class="sum-hide-spacer">
                    <label>Proxy</label>
                    <input type="text" ng-model="vm.options.proxy">
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
