<div ng-if="sop.description">
    <md-subheader class="md-warn md-no-sticky">Description</md-subheader>
    <div layout-padding>
        <div class="md-body-1" truncate ng-bind-html="sop.description"></div>
    </div>
</div>

<form role="form" name="ngForm.explorerForm" ng-submit="submit(sop)">
    <!-- TODO: <fieldset ng-disabled="sop.loading"> https://github.com/angular/material/issues/2417 -->
    <div ng-if="sop.responseClass.schema" layout="row">
        <div flex>
            <md-subheader class="md-warn md-no-sticky">Response class</md-subheader>
        </div>
        <div class="sum-tools" ng-if="sop.responseClass.display != -1">
            <a class="md-button md-primary"
               ng-click="sop.responseClass.display = !sop.responseClass.display + 0"
               ng-bind="sop.responseClass.display ? 'Model' : 'Example'"></a>
        </div>
    </div>

    <!-- TODO: missing XML example -->
    <div ng-if="sop.responseClass.schema && (sop.responseClass.display != -1)" layout-padding class="sum-top">
         <pre class="sum-pre sum-wrap sum-no-margin"
              ng-if="sop.responseClass.display == 0"
              ng-bind-html="sop.responseClass.schema.model"></pre>
         <pre class="sum-pre sum-no-margin" ng-if="sop.responseClass.display == 1"
              ng-bind="sop.responseClass.schema.json"></pre>
    </div>

    <div ng-if="sop.produces.length">
        <md-subheader class="md-warn md-no-sticky">Response type</md-subheader>
        <div layout-padding
             style="padding-bottom: 0; top: -8px; position: relative">
            <div layout="row">
                <md-input-container flex>
                    <md-select aria-label="response type" ng-model="form[sop.id].responseType"
                               ng-disabled="sop.produces.length == 1">
                        <md-option
                            ng-repeat="item in sop.produces track by item" value="{{item}}" ng-bind="::item">
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>

    <div ng-if="sop.parameters.length">
        <md-subheader class="md-warn md-no-sticky">Parameters</md-subheader>
        <div layout-padding
             style="padding-top: 8px"
             ng-repeat="param in sop.parameters track by $index"
             ng-include="'views/parameter.html'"></div>
    </div>

    <div ng-if="sop.responseArray.length" style="padding-bottom: 8px;">
        <md-subheader class="md-warn md-no-sticky">Response messages</md-subheader>
        <div layout-padding>
            <div>
                <div ng-repeat="resp in sop.responseArray track by $index"
                     ng-include="'views/response.html'"></div>
            </div>
        </div>
    </div>

    <!-- TODO: this is fixing ng-submit bug, probably from angular-material -->
    <button hide type="submit">Submit</button>
</form>
