<div ng-if="sum.sop.description">
    <md-subheader class="md-warn">Description</md-subheader>
    <div layout-padding>
        <div class="md-body-1" truncate ng-bind-html="sum.sop.description"></div>
    </div>
</div>

<form role="form" name="sum.explorerForm" ng-submit="submit(sum.sop)">
    <div ng-if="sum.sop.responseClass.schema" layout="row">
        <div flex>
            <md-subheader class="md-warn">Response class</md-subheader>
        </div>
        <div class="sum-tools" ng-if="sum.sop.responseClass.display != -1">
            <a class="md-button md-primary"
               ng-click="sum.sop.responseClass.display = !sum.sop.responseClass.display + 0"
               ng-bind="sum.sop.responseClass.display ? 'Model' : 'Example'"></a>
        </div>
    </div>

    <!-- TODO: missing XML example -->
    <div ng-if="sum.sop.responseClass.schema && (sum.sop.responseClass.display != -1)" layout-padding class="sum-top">
         <pre class="sum-pre sum-wrap sum-no-margin"
              ng-if="sum.sop.responseClass.display == 0"
              ng-bind-html="sum.sop.responseClass.schema.model"></pre>
         <pre class="sum-pre sum-no-margin" ng-if="sum.sop.responseClass.display == 1"
              ng-bind="sum.sop.responseClass.schema.json"></pre>
    </div>

    <div ng-if="sum.sop.produces.length">
        <md-subheader class="md-warn">Response type</md-subheader>
        <div layout-padding
             style="padding-bottom: 0; top: -8px; position: relative">
            <div layout="row">
                <md-input-container flex>
                    <md-select aria-label="response type" ng-model="form[sum.sop.id].responseType"
                               ng-disabled="sum.sop.produces.length == 1">
                        <md-option
                            ng-repeat="item in sum.sop.produces track by item" value="{{item}}" ng-bind="::item">
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>

    <div ng-if="sum.sop.parameters.length">
        <md-subheader class="md-warn">Parameters</md-subheader>
        <div layout-padding
             style="padding-top: 8px"
             ng-repeat="param in sum.sop.parameters track by $index"
             ng-include="'views/parameter.html'"></div>
    </div>

    <div ng-if="sum.sop.hasResponses || sum.sop.defaultResponse" style="padding-bottom: 8px;">
        <md-subheader class="md-warn">Response messages</md-subheader>
        <div layout-padding>
            <div>
                <div ng-repeat="resp in sum.sop.responseArray track by $index"
                     ng-include="'views/response.html'"></div>
            </div>
        </div>
    </div>
</form>
