{"swagger":"2.0","info":{"description":"\n# Copil+ API\n\nCette documentation décrit l'API de Copil+\n\n## Roles\n\nCopil+ fournie de types de roles pour ces utilisateurs: **administrateur** et **contributeur**\n\n### Administrateur\n\nUn administrateur peut créer, lire, mettre à jours et supprimer n'importe quel ressources.\n\n### Contributeur\n\nUn contributeur dispose d'accès limités aux ressources:\n\n| Type de ressources | créer | lire | mettre à jours | supprimer |\n|--------------------|-------|------|----------------|-----------|\n| BusinessCase       |       | x    |                |           |\n| Template           |       | x    |                |           |\n| Step               |       | x    |                |           |\n| Task               | x     | x    |                |           |\n| User               |       | x    |                |           |\n| Comment            | x     | x    | x (own)        |           |\n\n## Pagination\n\nLes ressources qui retournent une liste d'éléments sont paginées.\nPar défaut, une ressource paginée retourne **10 éléments**.\n\nSur ces ressources, le paramètre `page` permet d'indiquer la page à consulter\net le paramètre `per_page` permet de contrôler le nombre d'éléments par page (pas plus de `50` éléments par page).\n\nQuand le paramètre `page` est omit, il vaut `1`.\nQuand le paramètre `per_page` est omit, il vaut `10`.\n\n::: note\n\nPar exemple, ici on retourner la page `2` d'une liste de `25` affaires.\n\n```bash\ncurl 'https://app.copil-plus.fr/api/v1/business_cases?page=2&per_page=25'\n```\n:::\n\n### Liens de pagination\n\nL'API retourne des liens de pagination dans les entêtes de la réponse.\nNous utilisons le standard [Web Linking](https://tools.ietf.org/html/rfc5988) pour se faire.\n\nIl est important d'utiliser ces liens pour gérer la pagination dans votre application.\nDe cette façon, si à l'avenir les liens de pagination ne sont plus construit de la même façon, vous\nn'aurez pas à modifier le code de votre application.\n\n```http\nHTTP/1.1 200 OK\nLink: <https://app.copil-plus.fr/api/v1/business_cases?page=1&per_page=10>; rel=\"first\",\n      <https://app.copil-plus.fr/api/v1/business_cases?page=5&per_page=10>; rel=\"last\",\n      <https://app.copil-plus.fr/api/v1/business_cases?page=3&per_page=10>; rel=\"next\",\n      <https://app.copil-plus.fr/api/v1/business_cases?page=2&per_page=10>; rel=\"prev\"\n```\n\nL'entête `Link` de la réponse contient une ou plusieurs liens hypermédia.\nL'attribut `rel` indique le type de lien dont il s'agit.\n\nLes valeurs possibles pour `rel` sont\n\n|  Nom  |         Description          |\n|-------|------------------------------|\n| next  | Lien vers la page suivante   |\n| last  | Lien vers la dernière page   |\n| first | Lien vers la première page   |\n| prev  | Lien vers la page précédente |\n\n::: warning\n\n#### <icon class=\"fa fa-warning\" /> Attention\n\nLe lien `next` vers la page suivante n'est présent que si la page existe.\nLe lien `prev` vers la page précédente n'est présent que si la page existe.\n:::\n\n### Métadonnées\n\nUne réponse paginée retourne également des métadonnées dans les entêtes.\n\n```http\nHTTP/1.1 200 OK\nX-Page: 1\nX-Perpage: 10\nX-Total-Items: 3\nX-Total-Pages: 5\n```\n\n|      Nom      |                Description                 |\n|---------------|--------------------------------------------|\n| X-Page        | Page courante                              |\n| X-PerPage     | Nombre d'élément par page                  |\n| X-Total-Items | Nombre total d'éléments dans le collection |\n| X-Total-Pages | Nombre total de pages                      |\n\n## Sécurité\n\nL'accès aux ressources de l'API est protéger par un jeton d'accès [JWT](https://jwt.io/)\n\nPour récupérer un jeton, il faudra échanger un identifiant et un mot de passe\nen appelant la ressource `app.copil-plus.fr/api/v1/token`.\n\n### Récupération d'un jeton JWT\n\nExemple avec l'utilitaire `curl`:\n\n```bash\ncurl -X POST -d 'username=johndoe&password=p@$$w0rd' \"http://app.copil-plus.dev/api/v1/token\"\n```\n\n::: note\n#### Note\nremplacez `johndoe` par votre identifiant et `p@$$w0rd` par votre mot de passe.\n:::\n\nRéponse:\n\n```http\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n    \"access_token\": \"ABCD\"\n}\n```\n\n`access_token` contient votre jeton JWT. Ce dernier est valable une journée.\n\n::: note\n**Note**\n`ABCD` est donné en guise d'exemple, en réalité, le jeton est beaucoup plus complexe.\n:::\n\n### Utilisation du jeton JWT\n\nDans la section précédente, nous avons récupéré un jeton JWT.\nNous allons maintenant l'utilisé pour consulter une ressource de l'API.\n\nDans cette exemple, nous récupérons une liste d'affaires en utilisant notre jeton.\n\n```bash\ncurl -X GET -H \"Authorization: Bearer ABCD\" -H \"Accept: application/json\" \"http://app.copil-plus.dev/api/v1/business_cases\"\n```\n","version":"1.0.0","title":"CopilPlus","contact":{"email":"contact@copil-plus.fr"}},"host":"app.copil-plus.dev","basePath":"/api/v1","schemes":["http"],"consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"securityDefinitions":{"jwt":{"type":"oauth2","flow":"password","tokenUrl":"http://app.copil-plus.dev/api/v1/user/login"}},"security":[{"jwt":[]}],"paths":{"/business_cases":{"get":{"tags":["BusinessCase"],"summary":"Lister les affaires","operationId":"ListBusinessCases","parameters":[{"$ref":"#/parameters/Page"},{"$ref":"#/parameters/PerPage"},{"in":"query","name":"status","description":"statut de l'affaire","type":"string","enum":["open","closed","archived"]}],"responses":{"200":{"description":"Une liste d'affaire","headers":{"$ref":"#/headers/Pagination"},"schema":{"type":"array","items":{"$ref":"#/definitions/BusinessCase"}}}}},"post":{"tags":["BusinessCase"],"summary":"Ajouter une affaire","operationId":"CreateBusinessCase","parameters":[{"in":"body","name":"body","required":true,"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"nom de l'affaire"},"owner":{"type":"string","description":"responsable de l'affaire"},"status":{"type":"string","description":"statut de l'affaire","enum":["open","closed"]},"template":{"type":"string","description":"template à partir duquel créer l'affaire"}}}}],"responses":{"201":{"description":"Affaire créer"}}}}},"definitions":{"BusinessCase":{"type":"object","required":["id","slug","name","status"],"properties":{"id":{"type":"string","description":"identifiant de l'affaire"},"slug":{"type":"string","description":"Nom machine de l'affaire"},"name":{"type":"string","description":"Nom de l'affaire"},"status":{"type":"string","enum":["open","closed","archived"],"description":"Statut de l'affaire"},"owner":{"$ref":"#/definitions/User"},"steps":{"type":"array","items":{"$ref":"#/definitions/Step"}}}},"Step":{"type":"object","required":["number","name","progressMode","progress","tasks"],"properties":{"number":{"type":"number"},"name":{"type":"string"},"progressMode":{"type":"string","enum":["manual","tasks"]},"progress":{"type":"number","description":"progression de la tâche","minimum":0,"maximum":100},"tasks":{"type":"array","items":{"$ref":"#/definitions/Task"}},"owner":{"$ref":"#/definitions/User"}}},"Task":{"type":"object","required":["id","number","name","status"],"properties":{"id":{"type":"string"},"number":{"type":"number"},"name":{"type":"string"},"status":{"type":"string","enum":["on_hold","started","finished","closed"]},"scheduledStart":{"type":"string","format":"date-time"},"scheduledEnd":{"type":"string","format":"date-time"},"actualStart":{"type":"string","format":"date-time"},"actuelEnd":{"type":"string","format":"date-time"},"owner":{"$ref":"#/definitions/User"}}},"User":{"type":"object","required":["username","displayName","email","picture"],"properties":{"username":{"type":"string"},"email":{"type":"string","format":"email"},"displayName":{"type":"string"},"organization":{"$ref":"#/definitions/Organization"},"picture":{"type":"string","format":"uri"}}},"Organization":{"type":"object","required":["slug","name"],"properties":{"slug":{"type":"string"},"name":{"type":"string"}}},"Comment":{"type":"object","properties":{"body":{"type":"string"},"evaluation":{"type":"number","minimum":-1,"maximum":2},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}}},"parameters":{"Page":{"in":"query","name":"page","description":"page à afficher","type":"number"},"PerPage":{"in":"query","name":"per_page","description":"nombre d'éléments par pages","type":"number"}},"headers":{"Pagination":{"Link":{"type":"string","description":"Lien de pagination"},"X-Page":{"type":"number","description":"Page courante"},"X-PerPage":{"type":"number","description":"Nombre d'éléments par page"},"X-Total-Pages":{"type":"number","description":"Nombre total de page"},"X-Total-Items":{"type":"number","description":"Nombre total d'élements dans la collection"}}}}
