<!doctype html>
<html ng-app="hub">
<head>
    <meta charset="utf-8">
    <title>Material Swagger UI Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- styles CDN -->
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">

    <!-- inject:css -->
    <!-- endinject -->

    <style>
        .ng-cloak {
            display: none;
        }
    </style>
    <style>
        small {
            max-width: 120px;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            white-space: nowrap;
        }

        a:focus {
            outline: none;
        }

        .md-errors-spacer {
            display: none;
        }

        a.md-button {
            font-weight: normal;
        }

        .tools a.md-button {
            font-weight: 500;
        }

        .tools .md-button {
            font-weight: 500;
            min-width: 0;
            margin: 3px;
            height: 28px;
            min-height: 28px;
            line-height: 28px;
        }

        .tools {
            padding: 3px;
        }

        .info .md-body-1,
        .info .md-body-2 {
            line-height: 14px;
        }

        .info {
            padding: 12px;
            margin: 6px;
        }

        .info md-divider {
            padding: 0;
            margin: 6px 6px;
        }

        .show-hide {
            transition: all ease-out 0.2s;
            max-height: 372px;
            overflow: hidden;
            /*margin: 0 2px;*/
        }

        .show-hide.ng-hide {
            /*opacity: 0;*/
            max-height: 0;
            /*margin: 0;*/
        }

        .powered {
            text-align: left;
        }

        .powered:hover {
            background-color: transparent;
        }

        .info a {
            color: #2200CC;
            text-decoration: none;
        }

        .info a:hover {
            text-decoration: underline;
        }

        .info md-icon {
            margin: -5px 0 -5px 5px;
        }

        .info .md-body-2 {
            text-align: right;
        }
    </style>
</head>
<body ng-controller="HubCtrl as vm" layout="row" class="ng-cloak" style="overflow: hidden">
<div layout="column" flex>
    <md-toolbar md-whiteframe="2" class="md-accent md-hue-1">
        <div class="md-toolbar-tools" ng-show="vm.loading" style="padding-left: 0">
            <md-progress-circular class="md-accent md-hue-3" md-mode="indeterminate"
                                  md-diameter="56"></md-progress-circular>
            <span>Loading&hellip;</span>
        </div>
        <div class="md-toolbar-tools" ng-hide="vm.loading">
            <span ng-if="vm.apis.length && (vm.count != vm.apis.length)">{{vm.count}} of&nbsp;</span>
            <span class="md-title">{{vm.apis.length}} APIs</span>
            <span flex></span>
            <md-button aria-label="expand" ng-click="vm.toggle(true)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
            <md-button aria-label="collapse" ng-click="vm.toggle(false)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
            <md-button ng-click="vm.sidenav = !vm.sidenav" class="md-icon-button" aria-label="filter">
                <md-icon>filter_list</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-show="!vm.loading" style="background-color: #fff">
        <div ng-show="vm.count" layout="row" layout-wrap layout-padding style="margin-top: 2px">
            <div flex-xs="100"
                 flex-sm="50"
                 flex-md="33"
                 flex-lg="25"
                 flex-xl="20"
                 ng-hide="api.hide"
                 ng-repeat="api in vm.apis track by $index"
                 style="padding: 12px">
                <div>
                    <div ng-class="api.open ? 'md-whiteframe-6dp' : 'md-whiteframe-2dp'"
                         ng-style="{margin: api.open ? '0-2px' : 0}"
                         style="transition: all linear 0.1s; position: relative">
                        <a ng-href="./#?url={{api.swaggerUrl}}"
                           style="background-color: #fff; display: block; text-decoration: none">
                            <md-toolbar class="md-accent md-hue-1"
                                        style="height: auto; max-height: none; min-height: 80px"
                                        ng-style="{background: api.gradientLight}">
                                <!--<div style="height: 8px; border-top-left-radius: 6px; border-top-right-radius: 6px"-->
                                <!--ng-style="{background: api.gradient}" md-whiteframe="1"></div>-->
                                <div layout="row" layout-padding layout-align="start start"
                                     style="height: auto; max-height: none; min-height: 64px; padding-bottom: 4px; padding-top: 4px">
                                    <span class="md-title" flex ng-bind="::api.info.title"
                                          style="line-height: 28px"></span>
                                    <div layout="column" layout-align="start end"
                                         style="line-height: 28px; text-align:right; opacity: 0.8">
                                        <small ng-bind="::api.parts[0]"></small>
                                        <small ng-bind="::api.parts[1]" ng-if="api.parts[1]"></small>
                                        <!--<small ng-bind="::api.info.version"></small>-->
                                    </div>
                                </div>
                            </md-toolbar>
                        </a>
                        <md-divider></md-divider>
                        <div class="tools" layout="row">
                            <md-button class="md-accent md-hue-3" ng-href="{{api.swaggerYamlUrl}}" target="_blank">
                                Open
                            </md-button>
                            <md-button class="md-accent md-hue-2" ng-href="{{api.swaggerYamlUrl}}" target="_blank">
                                YAML
                            </md-button>
                            <md-button class="md-accent md-hue-2" ng-href="{{api.swaggerUrl}}" target="_blank">
                                JSON
                            </md-button>
                            <span flex></span>
                            <md-button ng-click="api.open = !api.open" aria-label="toggle">
                                <md-icon ng-bind="api.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-show="api.open" class="show-hide" ng-class="api.open ? 'md-whiteframe-1dp' : ''"
                         style="background-color: #fcfcfc">
                        <div layout="column" layout-padding class="info">
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Added</div>
                                <div class="md-body-2" ng-bind="api.added | date"></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Updated</div>
                                <div class="md-body-2" ng-bind="api.updated | date"></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Version</div>
                                <div class="md-body-2" ng-bind="api.info.version"></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Operations</div>
                                <div class="md-body-2" ng-bind="api.meta.operations"></div>
                            </div>
                            <md-divider></md-divider>
                            <div ng-if="api.meta.security && api.meta.security.length" layout="row"
                                 layout-align="space-between">
                                <div class="md-body-1">Security</div>
                                <div class="md-body-2" ng-bind="api.meta.security"></div>
                            </div>
                            <md-divider ng-if="api.meta.security && api.meta.security.length"></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">CORS</div>
                                <div class="md-body-2" ng-if="api.meta.cors === true">enabled
                                    <md-icon>verified_user</md-icon>
                                </div>
                                <div class="md-body-2" ng-if="api.meta.cors === false">disabled
                                    <md-icon>security</md-icon>
                                </div>
                                <div class="md-body-2" ng-if="api.meta.cors !== true && api.meta.cors !== false">unknown
                                    <md-icon>close</md-icon>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Provider</div>
                                <a class="md-body-1" ng-href="http://{{api.parts[0]}}" ng-bind="api.parts[0]"></a></div>
                            <md-divider ng-if="api.parts[1]"></md-divider>
                            <div ng-if="api.parts[1]" layout="row" layout-align="space-between">
                                <div class="md-body-1">Service</div>
                                <div class="md-body-1" ng-bind="api.parts[1]"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-divider ng-show="vm.count" style="margin: 4px 0 2px 0"></md-divider>
        <div flex="100" layout="row" layout-padding layout-align="end end" style="margin-top: 2px">
            <div flex-xs="100"
                 flex-sm="50"
                 flex-md="33"
                 flex-lg="25"
                 flex-xl="20"
                 style="padding: 12px">
                <a class="md-whiteframe-2dp" href="http://APIs.guru"
                   style="text-decoration: none; display: block">
                    <div class="tools" layout="row">
                        <md-button class="md-accent md-hue-3 powered">
                            Powered by
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                    <div style="padding: 12px 12px 0 12px; background-color: #fff">
                        <img src="https://apis-guru.github.io/api-models/branding/logo_horizontal.svg"
                             alt="logo"
                             style="max-width: 100%">
                    </div>
                </a>
            </div>
        </div>
    </md-content>
</div>
<md-sidenav md-is-open="vm.sidenav" class="md-sidenav-right" layout="column">
    <md-toolbar md-whiteframe="2" class="md-accent md-hue-1">
        <div class="md-toolbar-tools">
            <span>Filter and Search</span>
            <span flex></span>
            <md-button ng-click="vm.sidenav = !vm.sidenav" class="md-icon-button">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y flex>
        <div layout="row" layout-padding>
            <div flex>
                <md-input-container style="width: 100%; margin-bottom: 0">
                    <label>Search</label>
                    <input type="text" ng-model="vm.filter.search"
                           ng-model-options="{debounce: {default: 100, blur: 0}}">
                </md-input-container>
            </div>
        </div>
        <md-list>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">CORS Support</md-subheader>
            <md-list-item ng-click="vm.filter.enabled = !vm.filter.enabled">
                <md-icon>verified_user</md-icon>
                <p>Probably enabled</p>
                <md-switch class="md-secondary" ng-model="vm.filter.enabled"></md-switch>
            </md-list-item>
            <md-list-item ng-click="vm.filter.disabled = !vm.filter.disabled">
                <md-icon>security</md-icon>
                <p>Probably disabled</p>
                <md-switch class="md-secondary" ng-model="vm.filter.disabled"></md-switch>
            </md-list-item>
            <md-list-item ng-click="vm.filter.unknown = !vm.filter.unknown">
                <md-icon>close</md-icon>
                <p>Unknown</p>
                <md-switch class="md-secondary" ng-model="vm.filter.unknown"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Security</md-subheader>
            <md-list-item ng-click="vm.filter.none = !vm.filter.none">
                <p>None</p>
                <md-switch class="md-secondary" ng-model="vm.filter.none"></md-switch>
            </md-list-item>
            <md-list-item ng-click="vm.filter.basic = !vm.filter.basic">
                <p>Basic</p>
                <md-switch class="md-secondary" ng-model="vm.filter.basic"></md-switch>
            </md-list-item>
            <md-list-item ng-click="vm.filter.apiKey = !vm.filter.apiKey">
                <p>API key</p>
                <md-switch class="md-secondary" ng-model="vm.filter.apiKey"></md-switch>
            </md-list-item>
            <md-list-item ng-click="vm.filter.oauth2 = !vm.filter.oauth2">
                <p>OAuth 2.0</p>
                <md-switch class="md-secondary" ng-model="vm.filter.oauth2"></md-switch>
            </md-list-item>
            <md-list-item ng-click="vm.filter.unknownSecurity = !vm.filter.unknownSecurity">
                <p>Unknown</p>
                <md-switch class="md-secondary" ng-model="vm.filter.unknownSecurity"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</md-sidenav>

<!-- scripts CDN -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

<!-- inject:js -->
<!-- endinject -->

<script type="text/javascript">
    angular.module('hub', ['ngMaterial'])
        .config(function ($mdThemingProvider) {
            $mdThemingProvider
                .theme('default')
                .primaryPalette('teal')
                .accentPalette('grey')
                .warnPalette('amber');
        })
        // from http://embed.plnkr.co/CaZAVeC90qxQP1E4Z5Fb/preview
        .factory('HubCache', function ($cacheFactory, $window) {
            var cache = $cacheFactory('someCache', {});
            var PREFIX = 'swaggerHub:';
            var storage = $window.sessionStorage;

            cache.get = function (key) {
                var lruEntry = storage.getItem(PREFIX + key);

                if (!lruEntry) {
                    return;
                }

                lruEntry = JSON.parse(lruEntry);

                return lruEntry.data;
            };

            cache.put = function (key, value) {
                if (angular.isFunction(value.then)) {
                    value.then(function (value) {
                        storage.setItem(PREFIX + key, JSON.stringify(value));
                    });
                } else {
                    storage.setItem(PREFIX + key, JSON.stringify(value));
                }
            };

            return cache;
        })
        .controller('HubCtrl', function ($scope, $http, $timeout, HubCache) {
            var vm = this;

            vm.loading = true;
            vm.count = 0;
            vm.filter = {
                search: '',
                enabled: true,
                disabled: true,
                unknown: true,
                none: true,
                basic: true,
                apiKey: true,
                oauth2: true,
                unknownSecurity: true
            };

            vm.toggle = defer(toggle, 100);

            var data = loadData();
            var list = loadList();

            list.then(processList);

            $scope.$watch(function () {
                return vm.filter
            }, function () {
                $timeout(update, 200);
            }, true);

            function processList (response) {
                vm.loading = false;
                vm.table = false;
                vm.apis = [];

                angular.forEach(response.data, function (v, k) {
                    var s = v.versions[v.preferred];
                    s.key = k;
                    s.parts = k.split(':');
                    s.info.title = s.info.title.replace(/([^A-Z])([A-Z])/, '$1\u200b$2');
                    vm.apis.push(s);
                });

                vm.count = vm.apis.length;

                vm.apis.sort(function (a, b) {
                    return (a.key).localeCompare(b.key);
                });

                data.then(processData);
            }

            function processData (response) {
                angular.forEach(vm.apis, function (api) {
                    var meta = response.data[api.key];

                    api.meta = meta || {};

                    if (!meta.colors || !meta.colors.length) {
                        meta.colors = [[223, 223, 223], [223, 223, 223], [255, 255, 255]];
                    }

                    var rgbs = ['rgba(255,255,255,1)'];
                    var rgbsAvatar = ['rgba(255,255,255,1)'];
                    var rgbsLight = [];

                    angular.forEach(meta.colors, function (c) {
                        c[3] = 0.333;
                        rgbs.push('rgba(' + c.join(',') + ')');
                        c[3] = 1;
                        rgbsAvatar.push('rgba(' + c.join(',') + ')');
                        c[3] = 0.222;
                        rgbsLight.push('rgba(' + c.join(',') + ')');
                    });

                    rgbsAvatar.push(['rgba(255,255,255,1)']);

                    api.gradient = 'linear-gradient(135deg, ' + rgbs.join(',') + ')';
                    api.gradientAvatar = 'linear-gradient(135deg, ' + rgbsAvatar.join(',') + ')';
                    api.gradientLight = 'linear-gradient(135deg, ' + rgbsLight.join(',') + ')';
                });
            }

            function update () {
                return;
                var search = vm.filter.search.toLowerCase();

                vm.count = 0;

                angular.forEach(vm.apis, function (a) {
                    var m = a.meta || {};
                    a.hide = false;

                    if ((m.cors === true) && !vm.filter.enabled) {
                        a.hide = true;
                    } else if ((m.cors === false) && !vm.filter.disabled) {
                        a.hide = true;
                    } else if (((m.cors === null) || angular.isUndefined(m.cors)) && !vm.filter.unknown) {
                        a.hide = true;
                    }

                    var show = false;

                    if ((m.security && !m.security.length) && vm.filter.none) {
                        show = true;
                    }

                    if (m.security && (m.security.indexOf('basic') > -1) && vm.filter.basic) {
                        show = true;
                    }

                    if ((m.security && m.security.indexOf('apiKey') > -1) && vm.filter.apiKey) {
                        show = true;
                    }

                    if ((m.security && m.security.indexOf('oauth2') > -1) && vm.filter.oauth2) {
                        show = true;
                    }

                    if (angular.isUndefined(m.security) && vm.filter.unknownSecurity) {
                        show = true;
                    }

                    a.hide = a.hide ? true : !show;

                    if (vm.filter.search) {
                        if ((a.info.title.toLowerCase().indexOf(search) === -1) &&
                            (a.key.toLowerCase().indexOf(search) === -1)) {
                            a.hide = true;
                        }
                    }

                    vm.count += !a.hide;
                });
            }

            function loadData () {
                return $http({
                    method: 'GET',
                    url: 'hub.json',
                    cache: HubCache
                });
            }

            function loadList () {
                return $http({
                    method: 'GET',
                    url: 'https://apis-guru.github.io/api-models/api/v1/list.json',
                    cache: HubCache
                });
            }

            function toggle (open) {
                angular.forEach(vm.apis, function (api) {
                    if (!api.hide) {
                        api.open = open;
                    }
                });
            }

            function defer (fnc, time) {
                return function () {
                    var args = arguments;

                    $timeout(function () {
                        fnc.apply(this, args);
                    }, time);
                }
            }
        });
</script>
</body>
</html>
