<!doctype html>
<html ng-app="hub">
<head>
    <meta charset="utf-8">
    <title>Material Swagger UI Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- styles CDN -->
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">

    <style>
        .ng-cloak {
            display: none;
        }
    </style>
    <style>
        md-toolbar small {
            max-width: 120px;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            white-space: nowrap;
        }

        a:focus {
            outline: none;
        }

        .md-errors-spacer {
            display: none;
        }

        a.md-button {
            font-weight: normal;
        }

        .tools a.md-button {
            font-weight: 500;
        }

        .tools .md-button {
            font-weight: 500;
            min-width: 0;
            margin: 3px;
            height: 28px;
            min-height: 28px;
            line-height: 28px;
        }

        .tools {
            padding: 3px;
            background-color: #fff;
        }

        .info .md-body-1,
        .info .md-body-2 {
            line-height: 14px;
        }

        .info {
            padding: 12px;
            margin: 6px;
        }

        .info md-divider {
            padding: 0;
            margin: 6px 6px;
        }

        .show-hide {
            transition: all ease-in-out 0.2s;
            max-height: 290px;
            overflow: hidden;
            position: relative;
            top: 0;
            z-index: 1;
        }

        .show-hide.ng-hide {
            max-height: 0;
            top: -100px;
        }

        .info a,
        p a,
        ul a {
            color: rgb(61, 90, 254);
            text-decoration: none;
        }

        .info a:hover,
        p a:hover,
        ul a:hover {
            text-decoration: underline;
        }

        .info md-icon {
            margin: -5px 0 -5px 5px;
        }

        .info .md-body-2,
        .info .right {
            text-align: right;
            word-break: break-all;
            padding-left: 24px;
        }

        .header {
            z-index: 2;
        }

        md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
            margin-right: 12px;
        }

        badge {
            position: relative;
            top: -1px;
            margin: 0 6px 0 6px;
            display: inline-block;
            background-color: #bbbbbb;
            color: #fff;
            border-radius: 8px;
            line-height: 12px;
            font-size: 12px;
            height: 12px;
            padding: 2px 6px;
            font-weight: 500;
            min-width: 6px;
            text-align: center;
        }

        .doc {
            line-height: 20px;
        }

        .doc h2 {
            margin: 6px 0 20px 0;
            padding: 0;
        }

        p {
            margin: 18px 0 0 0;
            padding: 0 24px 0 0;
        }

        ul {
            margin: 0;
            padding: 0 24px;
            line-height: 20px;
        }

        a.flink {
            border-bottom: 1px dotted #2200CC;
        }

        a.flink:hover {
            text-decoration: none;
            border-bottom: 1px solid #2200CC;
        }
    </style>
    <style>
        toolbar-search input {
            background: transparent;
            border: none;
            width: 120px;
            margin-top: 4px;
            vertical-align: middle;
            margin-left: -6px;
            margin-right: -12px;
            position: relative;
            top: -2px;
        }

        toolbar-search input:focus {
            outline: none;
        }

        toolbar-search .input-show-hide {
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;
        }

        toolbar-search .input-show-hide.ng-hide {
            -webkit-transition: all ease-in 0.25s;
            transition: all ease-in 0.25s;
            width: 0;
            opacity: 0;
            margin-left: 0;
            margin-right: 0;
        }

        @media screen and (min-width: 540px) {
            toolbar-search input {
                width: 180px;
            }
        }

        @media screen and (min-width: 720px) {
            toolbar-search input {
                width: 240px;
            }
        }
    </style>
    <style>
        .no-transform md-tab-item {
            text-transform: none;
        }

        .bg {
            background-color: #fcfcfc;
        }

        .short-buttons .md-button {
            min-width: 0;
            width: inherit;
            font-weight: 500;
        }

        .pre {
            overflow: auto;
            white-space: pre-wrap;
            font-family: monospace;
        }

        .md {
            overflow: auto;
            white-space: pre-wrap;
        }
    </style>
</head>
<body ng-controller="HubCtrl as vm" layout="row" class="ng-cloak" style="overflow: hidden">
<div layout="column" flex>
    <md-toolbar md-whiteframe="2" class="md-hue-3" style="z-index: 3" no-ng-style="vm.path && vm.apiStyle">
        <div ng-show="!vm.path" class="md-toolbar-tools"
             ng-style="{'padding-left': (vm.loading) ? 0 : null}">
            <md-progress-circular ng-show="vm.loading" class="md-primary md-hue-2" md-mode="indeterminate"
                                  md-diameter="56"></md-progress-circular>
            <span ng-show="vm.loading">Loading&hellip;</span>
            <div hide show-gt-sm ng-hide="vm.loading">
                <span style="opacity: 0.5"
                      ng-if="vm.apis.length && (vm.count != vm.apis.length)">{{vm.count}} of</span>
                <span class="md-title">{{vm.apis.length}} APIs</span>
            </div>
            <span flex></span>
            <toolbar-search ng-hide="vm.loading" ng-model="vm.filter.search"></toolbar-search>
            <md-button ng-hide="vm.loading" hide show-gt-sm aria-label="expand" ng-click="vm.toggle(true)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
            <md-button ng-hide="vm.loading" hide show-gt-sm aria-label="collapse" ng-click="vm.toggle(false)"
                       class="md-icon-button">
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
            <md-menu ng-hide="vm.loading">
                <md-button aria-label="sort" ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <md-icon>sort</md-icon>
                </md-button>
                <md-menu-content>
                    <md-subheader>Sort by</md-subheader>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="vm.sort(0)">
                            <md-icon ng-bind="vm.sortBy == 0 ? 'done' : ''"></md-icon>
                            Provider
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.sort(1)">
                            <md-icon ng-bind="vm.sortBy == 1 ? 'done' : ''"></md-icon>
                            Title
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.sort(2)">
                            <md-icon ng-bind="vm.sortBy == 2 ? 'done' : ''"></md-icon>
                            Last updated
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.sort(3)">
                            <md-icon ng-bind="vm.sortBy == 3 ? 'done' : ''"></md-icon>
                            Operations
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button ng-hide="vm.loading" ng-click="vm.sidenav = !vm.sidenav" class="md-icon-button"
                       aria-label="filter">
                <md-icon>filter_list</md-icon>
            </md-button>
        </div>
        <div ng-show="vm.path" class="md-toolbar-tools"
             ng-style="{'padding-left': (vm.loading || vm.updating) ? 0 : null}">
            <md-progress-circular ng-show="vm.loading" class="md-primary md-hue-2" md-mode="indeterminate"
                                  md-diameter="56"></md-progress-circular>
            <span ng-show="vm.loading">Loading&hellip;</span>

            <md-button ng-hide="vm.loading || vm.updating" style="margin-left: -6px" ng-click="vm.back()"
                       class="md-icon-button">
                <md-icon>keyboard_backspace</md-icon>
            </md-button>

            <div ng-hide="vm.loading || vm.updating">
                <span class="md-title" ng-bind="vm.prefered.info.title || vm.path"></span>
            </div>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode='indeterminate'
                        class="md-primary"
                        ng-show="vm.updating"
                        style="position: relative; z-index: 59; margin-top: -5px;"></md-progress-linear>
    <md-content flex ng-show="!vm.path">
        <div ng-show="!vm.loading" class="doc md-body-1" layout="row" layout-wrap layout-padding layout-align="end"
             style="margin-top: 2px; padding-bottom: 6px">
            <div flex-xs="100"
                 flex-sm="50"
                 flex-md="33"
                 flex-lg="25"
                 flex-xl="20"
                 style="padding: 12px">
                <h2 class="md-title">Intro</h2>
                <p>
                    This is testing and exploring hub for
                    <a href="https://github.com/darosh/angular-swagger-ui-material">Material Swagger UI</a>
                    demo showing live data from <a href="http://APIs.guru">APIs.guru</a> mixed with additional
                    properties.
                </p>
                <p>
                    OAuth2 APIs configured in demo:
                    <a class="flink" href="#?search=googleapis.com:blogger">Blogger</a>,
                    <a class="flink" href="#?search=googleapis.com:books">Books</a>,
                    <a class="flink" href="#?search=googleapis.com:calendar">Calendar</a>,
                    <a class="flink" href="#?search=googleapis.com:drive">Drive</a>,
                    <a class="flink" href="#?search=googleapis.com:plus">Google+</a>.
                </p>
            </div>
            <div flex-xs="100"
                 flex-sm="50"
                 flex-md="33"
                 flex-lg="25"
                 flex-xl="20"
                 style="padding: 12px">
                <h2 class="md-title">Search</h2>
                <ul>
                    <li>Search example: <a class="flink" href="#?search=google">google</a></li>
                    <li>Negative search example: <a class="flink" href="#?search=!google">!google</a>
                        <br>(prefixed with exclamation mark)
                    </li>
                </ul>
            </div>
            <div flex style="padding: 12px">
                <h2 class="md-title">Filters</h2>
                <ul>
                    <li>CORS information is grabbed <a
                        href="https://github.com/darosh/angular-swagger-ui-material/blob/master/lib/api-models-meta/index.js">automatically</a>
                        and may be incorrect
                    </li>
                    <li>Security is extracted from global <a
                        href="http://swagger.io/specification/#securityDefinitionsObject">securityDefinitions</a> spec
                        (except <em>local</em> value)
                    </li>
                    <li>Tested filter shows <a
                        href="https://github.com/darosh/angular-swagger-ui-material/blob/master/test/manual/manual.json">manual
                        testing</a> success or fail
                    </li>
                    <li>Recommended examples to try
                        <ul>
                            <li><a
                                class="flink"
                                href="#?cors=false&cors=none&security=accessCode&security=apiKey&security=basic&security=implicit&security=local&security=password&tested=false&tested=none">tested
                                + with CORS + without security</a></li>
                            <li><a
                                class="flink"
                                href="#?cors=false&cors=none&security=accessCode&security=none&tested=false&tested=none">tested
                                + with CORS + without accessCode flow</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <md-divider ng-show="!vm.loading && vm.count" style="margin: 4px 0 2px 0"></md-divider>
        <div ng-show="!vm.loading && vm.count" layout="row" class="app-optimized" layout-wrap layout-padding
             style="margin-top: 2px">
            <div flex-xs="100"
                 flex-sm="50"
                 flex-md="33"
                 flex-lg="25"
                 flex-xl="20"
                 ng-repeat="api in vm.apisDelayed track by api.key"
                 style="padding: 12px">
                <div>
                    <div class="header" ng-class="api.open ? 'md-whiteframe-6dp' : 'md-whiteframe-2dp'"
                         ng-style="{margin: api.open ? '0 -2px' : 0}"
                         style="transition: all linear 0.1s; position: relative">
                        <a ng-href="{{::api.ui}}"
                           style="background-color: #fff; display: block; text-decoration: none">
                            <md-toolbar class="md-accent md-hue-1"
                                        style="height: auto; max-height: none; min-height: 80px"
                                        ng-style="::api.style">
                                <div layout="row" layout-padding layout-align="start start"
                                     style="height: auto; max-height: none; min-height: 64px; padding-bottom: 4px; padding-top: 4px">
                                    <span class="md-title" flex ng-bind="::api.info.title"
                                          style="line-height: 28px"></span>
                                    <div layout="column" layout-align="start end"
                                         style="line-height: 28px; text-align:right; opacity: 0.8">
                                        <small ng-bind="::api.info['x-providerName']"></small>
                                        <small ng-bind="::api.info['x-serviceName']"
                                               ng-if="::api.info['x-serviceName']"></small>
                                    </div>
                                </div>
                            </md-toolbar>
                        </a>
                        <md-divider></md-divider>
                        <div class="tools" layout="row">
                            <md-button class="md-primary" ng-href="{{::api.ui}}">
                                Open
                            </md-button>
                            <md-button class="md-primary" ng-href="{{::api.view}}">
                                View
                            </md-button>
                            <!--<md-button class="md-accent md-hue-2" ng-href="{{::api.swaggerYamlUrl}}" target="_blank">
                                YAML
                            </md-button>
                            <md-button class="md-accent md-hue-2" ng-href="{{::api.swaggerUrl}}" target="_blank">
                                JSON
                            </md-button>-->
                            <span flex></span>
                            <md-button ng-click="api.open = !api.open" aria-label="toggle">
                                <md-icon ng-bind="api.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-show="api.open" class="show-hide bg" ng-class="api.open ? 'md-whiteframe-1dp' : ''">
                        <div layout="column" layout-padding class="info">
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Added</div>
                                <div class="md-body-2" ng-bind="::api.added | date"></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Updated</div>
                                <div class="md-body-2" ng-bind="::api.updated | date"></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Version</div>
                                <div class="md-body-2" ng-bind="::api.info.version"></div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">Operations</div>
                                <div class="md-body-2" ng-bind="::api.meta.operations"></div>
                            </div>
                            <md-divider></md-divider>
                            <div ng-if="::(api.meta.security && api.meta.security.length)" layout="row"
                                 layout-align="space-between">
                                <div class="md-body-1">Security</div>
                                <div class="md-body-2" ng-bind="::api.meta.security"></div>
                            </div>
                            <md-divider ng-if="::(api.meta.security && api.meta.security.length)"></md-divider>
                            <div layout="row" layout-align="space-between">
                                <div class="md-body-1">CORS</div>
                                <div class="md-body-2" ng-if="::(api.meta.cors === true)">enabled
                                    <md-icon>verified_user</md-icon>
                                </div>
                                <div class="md-body-2" ng-if="::(api.meta.cors === false)">disabled
                                    <md-icon>security</md-icon>
                                </div>
                                <div class="md-body-2" ng-if="::(api.meta.cors !== true && api.meta.cors !== false)">
                                    unknown
                                    <md-icon>close</md-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <md-content flex ng-show="vm.path && !vm.loading" layout="column" md-scroll-y>
        <div layout-gt-sm="row" flex>
            <div flex="100" flex-gt-sm="33" flex-gt-lg="25" layout="column" style="min-width: 360px">
                <md-content md-scroll-y>
                    <div md-whiteframe="4" style="margin: 24px">
                        <md-subheader class="md-accent md-no-sticky">API</md-subheader>
                        <!--<md-divider></md-divider>-->
                        <md-tabs md-border-bottom md-dynamic-height class="md-hue-2">
                            <md-tab label="Info">
                                <div layout="column" layout-padding class="info" style="padding: 16px">
                                    <div layout="row" layout-align="space-between">
                                        <div class="md-body-1">Id</div>
                                        <div class="md-body-2" ng-bind="vm.path"></div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="row" layout-align="space-between">
                                        <div class="md-body-1">Added</div>
                                        <div class="md-body-2" ng-bind="vm.api.added | date"></div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="row" layout-align="space-between">
                                        <div class="md-body-1">Prefered Version</div>
                                        <div class="md-body-2" ng-bind="vm.api.preferred"></div>
                                    </div><!--
                                    <md-divider></md-divider>
                                    <div layout="row" layout-align="space-between">
                                        <div class="md-body-1">Operations</div>
                                        <div class="md-body-2" ng-bind="vm.detail.meta.operations"></div>
                                    </div>-->
                                    <!--<md-divider></md-divider>-->
                                    <!--<div ng-if="(vm.detail.meta.security && vm.detail.meta.security.length)"
                                         layout="row"
                                         layout-align="space-between">
                                        <div class="md-body-1">Security</div>
                                        <div class="md-body-2" ng-bind="vm.detail.meta.security"></div>
                                    </div>
                                    <md-divider
                                        ng-if="(vm.detail.meta.security && vm.detail.meta.security.length)"></md-divider>
                                    <div layout="row" layout-align="space-between">
                                        <div class="md-body-1">CORS</div>
                                        <div class="md-body-2" ng-if="(vm.detail.meta.cors === true)">enabled
                                            <md-icon>verified_user</md-icon>
                                        </div>
                                        <div class="md-body-2" ng-if="(vm.detail.meta.cors === false)">disabled
                                            <md-icon>security</md-icon>
                                        </div>
                                        <div class="md-body-2"
                                             ng-if="(vm.detail.meta.cors !== true && vm.detail.meta.cors !== false)">
                                            unknown
                                            <md-icon>close</md-icon>
                                        </div>
                                    </div>-->
                                </div>
                            </md-tab>
                            <md-tab label="Raw">
                                <div class="md-padding">
                                    <pre style="margin: 12px">{{vm.raw | json}}</pre>
                                </div>
                            </md-tab>
                        </md-tabs>
                    </div>
                    <div flex layout="column">
                        <div md-whiteframe="4" style="margin: 0 24px 24px 24px">
                            <md-subheader class="md-accent md-no-sticky">Versions</md-subheader>
                            <div style="padding-top: 0" flex>
                                <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedVersion"
                                         class="md-hue-2 no-transform">
                                    <md-tab ng-repeat="k in vm.versions" label="{{k}}">
                                        <div layout="column" layout-padding class="info" style="padding: 16px 16px">
                                            <div layout="row" layout-align="space-between">
                                                <div class="md-body-1">Added</div>
                                                <div class="md-body-2"
                                                     ng-bind="vm.api.versions[k].added | date"></div>
                                            </div>
                                            <md-divider></md-divider>
                                            <div layout="row" layout-align="space-between">
                                                <div class="md-body-1">Updated</div>
                                                <div class="md-body-2"
                                                     ng-bind="vm.api.versions[k].updated | date"></div>
                                            </div>
                                            <md-divider ng-repeat-start="m in vm.meta" ng-if="m[2]"></md-divider>
                                            <div ng-repeat-end layout="row" layout-align="space-between" ng-if="m[2]">
                                                <div class="md-body-1" style="white-space: nowrap; margin-right: 24px;">
                                                    <md-icon ng-bind="m[1]" style="margin-right: 6px"></md-icon>
                                                    <span ng-if="m[0]" ng-bind="m[0]">Contact</span>
                                                </div>
                                                <div ng-if="m[0] && !m[3]" ng-bind="m[2]" class="md-body-2"></div>
                                                <div ng-if="(m[0] !== 'Validation') && m[3]" class="md-body-1"
                                                     style="text-align: right; word-break: break-all">
                                                    <a ng-bind="m[2]"
                                                       ng-href="{{m[3]}}"
                                                       ng-click="m[4]($event, m[2])"
                                                       target="_blank"></a>
                                                </div>
                                                <div ng-if="m[0] === 'Validation'">
                                                    <a style="margin-top: -6px; display: inline-flex; height: 30px"
                                                       target="_blank" ng-href="{{m[2]}}">
                                                        <img ng-src="{{m[3]}}" style="width: 97px; height: 30px;"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </div>
                    </div>
                </md-content>
            </div>
            <div flex-gt-sm layout="column" layout-align="start stretch">
                <div>
                    <div layout="row" class="short-buttons" style="margin-top: 24px" layout-align="space-between start">
                        <div flex="nogrow">
                            <md-subheader class="md-accent md-no-sticky">Version
                                {{vm.versions[vm.selectedVersion]}}
                            </md-subheader>
                        </div>
                        <div layout="column" layout-gt-sm="row" layout-no-wrap-gt-sm layout-align="end start">
                            <div style="height: 46px">
                                <md-button class="md-primary md-hue-2" target="_blank"
                                           ng-href="{{vm.curent.swaggerYamlUrl}}">
                                    YAML
                                </md-button>
                            </div>
                            <div style="height: 46px">
                                <md-button class="md-primary md-hue-2" target="_blank"
                                           ng-href="{{vm.curent.swaggerUrl}}">
                                    JSON
                                </md-button>
                            </div>
                            <div style="height: 46px">
                                <md-button class="md-primary md-hue-2" target="_blank"
                                           ng-href="{{vm.gitHubLink}}">
                                    GitHub
                                </md-button>
                            </div>
                            <div style="height: 46px" ng-if="vm.diffLink">
                                <md-button class="md-accent" target="_blank"
                                           ng-href="{{vm.diffLink}}">
                                    Diff
                                </md-button>
                            </div>
                            <div style="height: 46px">
                                <md-button class="md-accent" target="_blank"
                                           ng-href="http://editor.swagger.io/#/?import={{vm.curent.swaggerUrl}}">
                                    Edit
                                </md-button>
                            </div>
                            <div style="height: 46px">
                                <md-button class="md-accent" target="_blank"
                                           ng-href="http://petstore.swagger.io/?url={{vm.curent.swaggerUrl}}">
                                    UI
                                </md-button>
                            </div>
                            <div style="height:46px; margin-right: 18px">
                                <md-button class="md-accent" target="_blank"
                                           ng-href="../#?url={{vm.curent.swaggerUrl}}">
                                    Open
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <md-tabs md-selected="vm.selectedTab" md-dynamic-height md-border-bottom class="md-hue-2">
                            <md-tab label="Description">
                                <div class="md-padding md" flex
                                     ng-bind-html="vm.curent.info.description"></div>
                            </md-tab>
                            <md-tab label="Logo"
                                    ng-disabled="!vm.curent.info['x-logo']">
                                <img ng-src="{{vm.curent.info['x-logo'].url}}"
                                     ng-style="{'background-color': vm.curent.info['x-logo'].backgroundColor}"
                                     style="padding: 6px; margin: 24px; max-width: calc(100% - 48px)"
                                     alt="logo">
                            </md-tab>
                            <md-tab label="Raw"></md-tab>
                            <md-tab label="YAML"></md-tab>
                            <md-tab label="JSON"></md-tab>
                        </md-tabs>
                    </div>
                </div>
                <div flex layout="row">
                    <div ng-if="vm.selectedTab === 2" class="md-padding pre" flex
                         ng-bind="vm.curent | json"></div>
                    <div ng-if="vm.selectedTab === 3" class="md-padding pre" flex ng-bind="vm.yaml"></div>
                    <div ng-if="vm.selectedTab === 4" class="md-padding pre" flex ng-bind="vm.json | json"></div>
                </div>
            </div>
        </div>
    </md-content>
</div>
<md-sidenav md-is-open="vm.sidenav" class="md-sidenav-right" layout="column">
    <md-toolbar md-whiteframe="2" class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <span>Filters</span>
            <span flex></span>
            <md-button ng-click="vm.sidenav = !vm.sidenav" class="md-icon-button">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y flex>
        <md-list>
            <md-subheader class="md-accent md-no-sticky">CORS</md-subheader>
            <md-list-item aria-label="switch" ng-if="vm.filter.cors.true"
                          ng-click="vm.filter.cors.true.show = !vm.filter.cors.true.show">
                <md-icon>verified_user</md-icon>
                <p><span>enabled</span>
                    <badge ng-bind="::vm.filter.cors.true.count"></badge>
                </p>
                <md-switch class="md-secondary md-primary" ng-model="vm.filter.cors.true.show"></md-switch>
            </md-list-item>
            <md-list-item aria-label="switch" ng-if="vm.filter.cors.false"
                          ng-click="vm.filter.cors.false.show = !vm.filter.cors.false.show">
                <md-icon>security</md-icon>
                <p><span>disabled</span>
                    <badge ng-bind="::vm.filter.cors.false.count"></badge>
                </p>
                <md-switch class="md-secondary md-primary" ng-model="vm.filter.cors.false.show"></md-switch>
            </md-list-item>
            <md-list-item aria-label="switch" ng-if="vm.filter.cors.none"
                          ng-click="vm.filter.cors.none.show = !vm.filter.cors.none.show">
                <md-icon>close</md-icon>
                <p><span>unknown</span>
                    <badge ng-bind="::vm.filter.cors.none.count"></badge>
                </p>
                <md-switch class="md-secondary md-primary" ng-model="vm.filter.cors.none.show"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-accent md-no-sticky">Security</md-subheader>
            <md-list-item
                aria-label="switch"
                ng-repeat="v in vm.filterArray.security"
                ng-click="v.show = !v.show; $event.preventDefault()">
                <p><span ng-bind="v.name"></span>
                    <badge ng-bind="::v.count"></badge>
                </p>
                <md-switch class="md-secondary md-primary" ng-model="v.show" aria-label="switch"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-accent md-no-sticky">Tested</md-subheader>
            <md-list-item
                aria-label="switch"
                ng-repeat="v in vm.filterArray.tested"
                ng-click="v.show = !v.show; $event.preventDefault()">
                <p><span ng-bind="v.name"></span>
                    <badge ng-bind="::v.count"></badge>
                </p>
                <md-switch class="md-secondary md-primary" ng-model="v.show" aria-label="switch"></md-switch>
            </md-list-item>
            <md-divider></md-divider>
            <div layout="row" layout-align="end" layout-padding>
                <md-button ng-click="vm.reset()">Reset Filters</md-button>
            </div>
        </md-list>
    </md-content>
</md-sidenav>

<!-- scripts CDN -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

<script type="text/javascript">
    angular.module('hub', ['ngMaterial', 'ngSanitize'])
        .config(function ($mdThemingProvider, $logProvider, $windowProvider) {
            $mdThemingProvider
                .theme('default')
                .primaryPalette('grey')
                .accentPalette('indigo')
                .warnPalette('amber');

            var $window = $windowProvider.$get();

            if ($window.location.hostname !== 'localhost') {
                $logProvider.debugEnabled(false);
            }

            /*if ('scrollRestoration' in $window.history) {
             $window.history.scrollRestoration = 'manual';
             }*/
        })
        // from http://embed.plnkr.co/CaZAVeC90qxQP1E4Z5Fb/preview
        .factory('HubCache', function ($cacheFactory, $window) {
            var cache = $cacheFactory('someCache', {});
            var PREFIX = 'swaggerHub:';
            var storage = $window.sessionStorage;

            cache.get = function (key) {
                var lruEntry = storage.getItem(PREFIX + key);

                if (!lruEntry) {
                    return;
                }

                lruEntry = JSON.parse(lruEntry);

                return lruEntry.data;
            };

            cache.put = function (key, value) {
                if (angular.isFunction(value.then)) {
                    value.then(function (value) {
                        storage.setItem(PREFIX + key, JSON.stringify(value));
                    });
                } else {
                    storage.setItem(PREFIX + key, JSON.stringify(value));
                }
            };

            return cache;
        })
        .directive('toolbarSearch', function ($timeout) {
            return {
                restrict: 'E',
                templateUrl: 'toolbar-search.html',
                scope: {
                    ngModel: '=',
                    ngChanged: '=?',
                    open: '=?'
                },
                link: function (scope, element) {
                    $timeout(function () {
                        scope.init = true;
                    }, 200);

                    scope.focus = function () {
                        $timeout(function () {
                            element.children()[1].focus();
                        }, 200);
                    };

                    scope.$watch('ngModel', function () {
                        if (scope.ngModel) {
                            scope.open = true;
                        }
                    });
                }
            };
        })
        .factory('Data', function (HubCache, $q, $log, $http, $timeout) {
            var deferred = $q.defer();
            var self = {
                promise: deferred.promise,
                apis: [],
                list: {},
                details: {},
                colors: {}
            };

            var data = deferPromise(loadData);
            var list = deferPromise(loadList);

            list.then(processList);

            return self;

            function loadData () {
                return $http({
                    method: 'GET',
                    url: 'hub.json',
                    cache: HubCache
                });
            }

            function loadList () {
                return $http({
                    method: 'GET',
                    url: 'https://apis-guru.github.io/api-models/api/v1/list.json',
                    cache: HubCache
                });
            }

            function processList (response) {
                $log.debug('hub:processList');

                angular.extend(self.list, response.data);

                angular.forEach(response.data, function (v, k) {
                    var preferred = angular.copy(v.versions[v.preferred]);

                    preferred.key = k;
                    preferred.info.title = preferred.info.title.replace(/([^A-Z])([A-Z])/, '$1\u200b$2');
                    preferred.ui = '../#?url=' + preferred.swaggerUrl;
                    preferred.updatedValue = (new Date(preferred.updated)).getTime();
                    preferred.info.titleLowerCase = preferred.info.title.toLowerCase();
                    preferred.keyLowerCase = preferred.key.toLowerCase();
                    preferred.view = '#' + preferred.key;

                    self.details[k] = preferred;

                    self.apis.push(preferred);
                });

                self.apis.sort(function (a, b) {
                    return (a.key).localeCompare(b.key);
                });

                data.then(processData);
            }

            function processData (response) {
                $log.debug('hub:processData');

                angular.forEach(self.apis, function (api) {
                    var meta = response.data[api.key];

                    api.meta = meta || {};

                    if (!meta.colors || !meta.colors.length) {
                        meta.colors = [[223, 223, 223], [223, 223, 223], [255, 255, 255]];
                    } else if (meta.colors.length === 1) {
                        meta.colors.push([255, 255, 255]);
                    }

                    var rgb = [];

                    angular.forEach(meta.colors, function (c) {
                        c[3] = 0.222;
                        rgb.push('rgba(' + c.join(',') + ')');
                    });

                    api.gradientLight = 'linear-gradient(135deg, ' + rgb.join(',') + ')';
                    api.style = {background: api.gradientLight};
                    self.colors[api.key] = api.style;
                });

                deferred.resolve();
            }

            function deferPromise (fnc, time) {
                var deferred = $q.defer();

                $timeout(function () {
                    fnc().then(function (val) {
                        deferred.resolve(val);
                    });
                }, time);

                return deferred.promise;
            }
        })
        .controller('HubCtrl', function ($scope, $http, $timeout, $location, $q, $log, $window, $document, Data) {
            var vm = this;

            vm.loading = true;
            vm.updating = false;
            vm.count = 0;
            vm.sortBy = -1;
            vm.path = '';
            vm.api = null;
            vm.apiStyle = null;
            vm.prefered = null;
            vm.curent = null;
            vm.selectedVersion = null;
            vm.detail = null;
            vm.meta = [];
            vm.apis = Data.apis;
            vm.apisFiltered = [];
            vm.apisDelayed = [];
            vm.filterArray = {};
            vm.filter = {
                search: ''
            };

            vm.toggle = defer(toggle, 100);
            vm.sort = defer(sort, 100);
            vm.reset = defer(reset, 100);
            vm.back = back;

            var unregister;

            $scope.$on('$locationChangeSuccess', locationUpdated);
            $scope.$watch(function () {
                return vm.selectedVersion;
            }, versionUpdated);

            Data.promise.then(function () {
                buildFilters();
                locationUpdated();
                update();
                sort(vm.sortBy);
                vm.loading = false;
                register();
            });

            function back () {
                if ($document[0].referer || $window.history.length <= 1) {
                    $location.path('');
                } else {
                    $window.history.back();
                }
            }

            function register () {
                unregister = $scope.$watch('vm.filter', defer(safeUpdate, 25), true);
            }

            function locationUpdated () {
                vm.path = $location.path().replace(/^\//, '');

                $log.debug('hub:locationUpdated', vm.path);

                var s = $location.search();

                if (!vm.path) {
                    vm.filter.search = s.search || '';
                    deserializeFilter(vm.filter.security, s.security);
                    deserializeFilter(vm.filter.cors, s.cors);
                    deserializeFilter(vm.filter.tested, s.tested);

                    if (unregister) {
                        unregister();
                        register();
                        vm.updating = true;
                        $timeout(function () {
                            Data.promise.then(update);
                        });
                    }

                    sort(parseInt(s.order || 0));

                    vm.api = null;
                    vm.prefered = null;
                    vm.apiStyle = null;
                    vm.detail = null;
                    vm.versions = null;
                    vm.selectedVersion = null;
                } else {
                    Data.promise.then(function () {
                        vm.api = Data.list[vm.path];
                        vm.prefered = vm.api.versions[vm.api.preferred];
                        vm.apiStyle = Data.colors[vm.path];
                        vm.detail = Data.details[vm.path];
                        vm.raw = angular.copy(vm.api);
                        delete vm.raw.versions;

                        vm.versions = [];

                        angular.forEach(vm.api.versions, function (v, k) {
                            vm.versions.push(k);
                        });

                        vm.versions.reverse();

                        vm.selectedVersion = vm.versions.indexOf(vm.api.preferred);

                        versionUpdated();
                    });
                }

                $log.debug('hub:locationUpdated:end');
            }

            function deserializeFilter (f, s) {
                angular.forEach(f, function (i) {
                    i.show = (s || []).indexOf(i.name) === -1;
                });
            }

            function buildFilters () {
                vm.filter.security = buildFilter(function (api) {
                    return api.meta.security;
                }, []);

                vm.filterArray.security = filterArray(vm.filter.security);

                vm.filter.tested = buildFilter(function (api) {
                    return api.meta.tested;
                });

                vm.filterArray.tested = filterArray(vm.filter.tested);

                vm.filter.cors = buildFilter(function (api) {
                    return api.meta.cors;
                });

                vm.filterArray.cors = filterArray(vm.filter.cors);
            }

            function safeUpdate (n, o) {
                $log.debug('hub:safe', n, o);

                if (angular.toJson(n) === angular.toJson(o)) {
                    return;
                }

                $log.debug('hub:safeUpdate');

                vm.updating = true;

                $timeout(function () {
                    Data.promise.then(update);
                });
            }

            function update () {
                $log.debug('hub:update');

                var search = vm.filter.search || '';
                var negative = search.length && (search[0] === '!');
                search = negative ? search.substring(1) : search;
                search = search.toLowerCase();

                vm.apisFiltered = [];
                vm.apisDelayed = [];
                vm.count = 0;

                angular.forEach(vm.apis, function (a) {
                    var m = a.meta || {};
                    a.hide = false;

                    if ((m.cors === true) && !vm.filter.cors.true.show) {
                        a.hide = true;
                    } else if ((m.cors === false) && !vm.filter.cors.false.show) {
                        a.hide = true;
                    } else if (((m.cors !== true) && (m.cors !== false)) && !vm.filter.cors.none.show) {
                        a.hide = true;
                    }

                    a.hide = a.hide ? true : !(isShown(m.security, vm.filter.security, []) && isShown(m.tested, vm.filter.tested));

                    if (search && !negative) {
                        if ((a.info.titleLowerCase.indexOf(search) === -1) &&
                            (a.keyLowerCase.indexOf(search) === -1)) {
                            a.hide = true;
                        }
                    } else if (search && negative) {
                        if ((a.info.titleLowerCase.indexOf(search) > -1) ||
                            (a.keyLowerCase.indexOf(search) > -1)) {
                            a.hide = true;
                        }
                    }

                    vm.count += !a.hide;

                    if (!a.hide) {
                        vm.apisFiltered.push(a);
                    }
                });

                sort(parseInt($location.search().order || 0));

                $location.search('search', vm.filter.search || null);
                $location.search('security', serializeFilter(vm.filterArray.security));
                $location.search('cors', serializeFilter(vm.filterArray.cors));
                $location.search('tested', serializeFilter(vm.filterArray.tested));

                vm.updating = false;

                addDelayed();

                $log.debug('hub:updated');
            }

            function addDelayed () {
                var i = 0;
                var limit = 10;

                if (!vm.apisDelayed.length) {
                    limit = 25;
                }

                while (vm.apisDelayed.length < vm.apisFiltered.length && i < limit) {
                    vm.apisDelayed.push(vm.apisFiltered[vm.apisDelayed.length]);
                    i++;
                }

                if (vm.apisDelayed.length < vm.apisFiltered.length) {
                    $timeout(addDelayed, 5);
                }
            }

            function serializeFilter (f) {
                return f.filter(function (i) {
                    return !i.show;
                }).map(function (i) {
                    return i.name;
                });
            }

            function isShown (value, filter, type) {
                var show = false;

                var val = value || type;

                angular.forEach(filter, function (v, k) {
                    if (angular.isArray(type)) {
                        if (v.show && (k === 'none') && !val.length) {
                            show = true;
                        } else if (v.show && (val.indexOf(k) > -1)) {
                            show = true;
                        }
                    } else {
                        if (v.show && (k === 'none') && angular.isUndefined(val)) {
                            show = true;
                        } else if (v.show && !angular.isUndefined(val) && (val.toString() === k)) {
                            show = true;
                        }
                    }
                });

                return show;
            }

            function sort (by) {
                if ((by === vm.sortBy) || !vm.apis.length) {
                    return
                }

                $log.debug('hub:sort', by);

                vm.sortBy = by;

                var sorters = [
                    function (a, b) {
                        return a.key.localeCompare(b.key);
                    },
                    function (a, b) {
                        return a.info.title.localeCompare(b.info.title);
                    },
                    function (a, b) {
                        return b.updatedValue - a.updatedValue;
                    },
                    function (a, b) {
                        return (a.meta.operations || 0) - (b.meta.operations || 0);
                    }
                ];

                vm.apis.sort(sorters[vm.sortBy]);
                vm.apisFiltered.sort(sorters[vm.sortBy]);
                vm.apisDelayed.sort(sorters[vm.sortBy]);

                $location.search('order', vm.sortBy || null);
            }

            function buildFilter (member, type) {
                var stat = {};

                angular.forEach(vm.apis, function (api) {
                    var m = member(api);

                    m = angular.isUndefined(m) ? type : m;

                    if (angular.isArray(type)) {
                        if (!m.length) {
                            stat['none'] = (stat['none'] || 0) + 1;
                        }

                        angular.forEach(m, function (sec) {
                            stat[sec] = stat[sec] || 0;
                            stat[sec]++;
                        });
                    } else {
                        var sec = (m === true || m === false) ? m.toString() : 'none';

                        stat[sec] = stat[sec] || 0;
                        stat[sec]++;
                    }
                });

                angular.forEach(stat, function (v, k) {
                    stat[k] = {
                        count: v,
                        show: true
                    };
                });

                return stat;
            }

            function filterArray (obj) {
                var arr = [];

                angular.forEach(obj, function (v, k) {
                    v.name = k;
                    arr.push(v);
                });

                arr.sort(function (a, b) {
                    return a.name.localeCompare(b.name);
                });

                return arr;
            }

            function reset () {
                angular.forEach(vm.filter, function (f) {
                    if (angular.isObject(f)) {
                        angular.forEach(f, function (i) {
                            i.show = true;
                        });
                    }
                });
            }

            function toggle (open) {
                angular.forEach(vm.apis, function (api) {
                    if (!api.hide) {
                        api.open = open;
                    }
                });
            }

            function defer (fnc, time) {
                return function () {
                    var args = arguments;

                    $timeout(function () {
                        fnc.apply(this, args);
                    }, time);
                }
            }

            function gitHubLink () {
                if (!vm.api) {
                    return;
                }

                var i = vm.curent.info;

                return 'https://github.com/APIs-guru/api-models/tree/master/APIs/' +
                    i['x-providerName'] + '/' +
                    (i['x-serviceName'] ? (i['x-serviceName']) + '/' : '' ) +
                    vm.versions[vm.selectedVersion] + '/';

            }

            function diffLink () {
                if (vm.curent === vm.prefered || vm.versions.length < 2) {
                    return;
                }

                return 'https://zallek.github.io/swagger-diff/?' +
                    'oldSpecUrl=' + vm.curent.swaggerUrl +
                    '&' +
                    'newSpecUrl=' + vm.prefered.swaggerUrl;
            }

            function meta () {
                var v = vm.api && vm.curent;

                if (!v) {
                    return;
                }

                var validatorUrl = 'http://online.swagger.io/validator';
                var i = v.info;
                i.contact = i.contact || {};
                var validatorDebug = (validatorUrl && v.swaggerUrl) ? (validatorUrl + '/debug?url=' + v.swaggerUrl) : null;
                var validatorBadge = validatorUrl + '?url=' + v.swaggerUrl;

                return [
                    ['Contact', 'person', (i.contact.name && !i.contact.email) ? i.contact.name : null, null],
                    ['Email', 'email', i.contact.email ? (i.contact.name || i.contact.email) : null, 'mailto:' + i.contact.email + '?subject=' + i.title],
                    ['Client registration', 'work', i['x-apiClientRegistration'] && i['x-apiClientRegistration'].url, i['x-apiClientRegistration'] && i['x-apiClientRegistration'].url],
                    ['Documentation', 'help_outline', v.externalDocs && (v.externalDocs.description || v.externalDocs.url), v.externalDocs && v.externalDocs.url],
                    ['Origin', 'cloud_download', i['x-origin'] && i['x-origin'].url, i['x-origin'] && i['x-origin'].url],
                    ['Validation', 'code', validatorDebug, validatorBadge]
                ];
            }

            function versionUpdated () {
                $log.debug('hub:version:start');

                Data.promise.then(function () {
                    if (!vm.api) {
                        return;
                    }


                    vm.curent = vm.api.versions[vm.versions[vm.selectedVersion]];
                    vm.gitHubLink = gitHubLink();
                    vm.diffLink = diffLink();
                    vm.meta = meta();
                    vm.json = null;
                    vm.yaml = null;

                    $http.get(vm.curent.swaggerUrl).then(function (response) {
                        vm.json = response.data;
                    });

                    $http.get(vm.curent.swaggerYamlUrl).then(function (response) {
                        vm.yaml = response.data;
                    });
                });
            }
        })
    ;
</script>
<script type="text/ng-template" id="toolbar-search.html">
    <md-button ng-click="open = true; focus()" class="md-icon-button">
        <md-icon>search</md-icon>
    </md-button>
    <input ng-show="open" ng-model="ngModel" type="text" class="md-input" ng-class="{'input-show-hide': init}"
           ng-model-options="{debounce: {default: 200, blur: 0}}"/>
    <md-button ng-show="open" ng-click="ngModel = ''; open = false" class="md-icon-button"
               ng-class="{'input-show-hide': init}">
        <md-icon>close</md-icon>
    </md-button>
</script>
</body>
</html>
